.container {
    width: 800px;
    margin: 0px auto;
    background-color: rgba(128, 128, 128, 0.342);
    padding: 5px 20px;
    text-align: center;
    font-family: sans-serif;
}
img {
    height: 200px;
}
.section1 {
    background-color: rgb(88, 134, 150);
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section2 {
    background-color: lightcoral;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.section3 {
    background-color: lightgoldenrodyellow;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}