/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}

/* Circular button style  */
.plus button {
    border-radius: 50%;
    border: none;
    color: white;
    background-color: rgb(104, 228, 186);
}

/* 4 flexible columns */
.row {
    display: flex;
}

.col {
    color: white;
    background-color: teal;
    padding: 20px;
    margin: 0px 10px 10px 0px;
    flex: 1;
}
.col:last-child{
    margin-right: 0px;
}

/* flexible navbar  */
.nav {
    background-color: rgba(56, 53, 53, 0.904);
    display: flex;
    padding: 0px 15px;
    font-family: Roboto;
    color: white;
}

.nav-title {
    padding-left: 10px;
    margin: 10px 0px;
    font-weight: lighter;
}

.nav-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 10px 0px;
}
.nav-links li {
    padding-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}
.active {
    font-weight: bold;
}
.btn {
    background-color: rgb(44, 179, 233);
    color: white;
    border: black solid 2px;
    box-shadow: 2px 2px black;
    padding: 3px 8px;
}