.nav {
    background-color: rgba(56, 53, 53, 0.904);
    display: flex;
    padding: 0px 15px;
    font-family: Roboto;
    color: white;
}

.nav-title {
    padding-left: 10px;
    margin: 10px 0px;
    font-weight: lighter;
}

.nav-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 10px 0px;
}
.nav-links li {
    padding-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}
.active {
    font-weight: bold;
}
.btn {
    background-color: rgb(44, 179, 233);
    color: white;
    border: black solid 2px;
    box-shadow: 2px 2px black;
    padding: 3px 8px;
}