* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;

}
/* Section for the NavBar */
.navbar {
    background-color: rgb(32, 31, 31);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 15px 23%;
    color: white;
    align-items: center;
}
.nav-title {
    font-weight: lighter;
    padding-right: 20px;
}

.nav-links {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 10px 0px;
}
.nav-links li {
    padding-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}
.profile {
    font-weight: bold;
}
.btn {
    width: 10%;
    background-color: rgb(44, 179, 233);
    color: white;
}

/* container settings for body of page */
.container {
    width: 60%;
    height: inherit;
    margin: 65px auto 0px;
    padding: 40px 25px 0px 25px;
    background-color: white;
    display: flex;
}


/* Content for the left side of the page */
.leftContent {
    flex: 2;
    margin-right: 10px;
}

.usercard {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
} 
.usercard #userCircle {
    width: 100px;
    position: absolute;
    margin: 15px 0px 0px 20px;
    border: rgba(128, 128, 128, 0.788) solid 2px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}

.topBox {
    height: 75px;
    background-color: rgb(31, 157, 189);
    border: rgb(31,157,189) solid 2px;
}

.bottomBox {
    background-color: white;
    border: rgba(128, 128, 128, 0.788) solid 2px;
    border-top: none;
    padding: 20px;
    padding-top: 30px;
}

#location {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#editProfile {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#editProfile a {
    color: navy;
}
#editProfile img, #location img {
    width: 3%;
    margin-right: 10px;
    height: fit-content;
}

.education .content{
    display: block;
}
.education h4 {
    color: gray;
}


/* Content for the right side of the page */

.rightContent {
    flex: 1;
    margin-left: 10px;
}

.title {
    height: 50px;
    background-color: rgb(32, 31, 31);
    border: rgb(32, 31, 31) solid 2px;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px;
}


#todd {
    background-image: url(todd-s.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 1;
}

#phil {
    background-image: url(phil-s.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 1;
}

.content .one p, .content .two p, .content .three p, .content .four p {
    font-weight: bold;
    flex: 3;
    margin-left: 5px;
}

.accept {
    background-image: url(accept-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    flex: 1;
    
}
.close {
    background-image: url(close-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.content {
    border: rgba(128, 128, 128, 0.788) solid 2px;
    margin: 0 auto;
    padding: 10px;
}
.connectionrequests .content {
    margin-bottom: 20px;
}
.one {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.two {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.yourConnections button {
    width: 50px;
    border-radius: 50%;
    margin-right: 5px;
    border: none;
}
.connectionrequests button {
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
    border: none;
}

#adrien {
    background-image: url(adrien-s.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 1;
}

#anne {
    background-image: url(anne-s.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 1;
}

#alayne {
    background-image: url(alayne-s.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 1;
}

#arry {
    background-image: url(arry-s.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex: 1;
}

.three {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.four {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#viewMore {
    border: rgba(128, 128, 128, 0.788) solid 2px;
    border-top: none;
}