* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}

div {
    background-color: black;
    padding: 5px;
    margin: 10px;
}
h1 {
    display: inline;
    text-align: left;
    color: white;
}
#white {
    float: left;
}
#blue {
    color: rgb(82, 234, 240);
}
h2 {
    background-color: rgb(113, 0, 128);
    margin: 10px;
    padding: 5px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: white;
    font-family: sans-serif;
}
h3 {
    background-color: rgb(173, 202, 230);
    margin: 10px;
    padding: 5px;
    text-align: right;
}
